@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 45px;
  margin-bottom:20px;
}




#myCanvas {
  background-image: url(https://img.pikbest.com/wp/202343/depicting-captivating-and-textured-aesthetic-depiction-of-sea-waves-in-abstract-blue_9975405.jpg!bw700);
  background-size: 1500px 800px;
  border-radius: 300px; 
  border: 5px solid white;
}



